body{
  background-color:#e6dace;

}
.container{
  font-size:40px;
  font-weight:bold;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
margin-top:30px;
}
.container p{
  font-size:20px;
  text-align:center;
  margin-left:50px;
  margin-top:20px;
}
ul.a {
  list-style: none;
margin-bottom:20px;
}
ul.a li::before {
  content: "\25A0";
  color: blue;
  font-weight: bold;
  font-size:50px;
  margin-bottom:20px;
}

.vl {
  border-left: 6px solid slateBlue;
  height: 20px;
  font-size: 20px;
  font-style:italic;
  padding:20px;
  color:firebrick;
}
.proj1,.proj2,.proj3{
  width:600px;
  height:170px;
  background-color:snow;
  margin-left:20px;
  margin-top:20px;
  font-size:30px;
  display:inline-block;
}
.proj1 p,.proj2 p,.proj3 p{
  font-size:13px;
  padding: 10px
}
.proj1:hover{
  box-shadow: 0 4px 8px 0 pink, 0 6px 20px 0 pink;
}
.proj2:hover{
  box-shadow: 0 4px 8px 0 pink, 0 6px 20px 0 pink;
}
.proj3:hover{
  box-shadow: 0 4px 8px 0 pink, 0 6px 20px 0 pink;
}
.img1{
  float:right;
  width:200px;
  height:170px;
}
.head{
    width:110%;
    background-color:white;
    display:flex;
    padding: 0 0px;
    font-size: 20px;
    color:#000;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
    text-align:left;
    position:fixed;
    margin-top:-42px;
margin-right:10px;
margin-left:-10px;
margin-bottom:40px;
}
.head2{
    display:flex;
    margin-left:50%;
    padding: 0px 10px;
    flex-direction:row;
    color: black;
    margin-top:5px;
}
.d1{
    padding:8px 10px;
    font-size: 20px;
    font-family:Georgia;
    font-style:italic;
    color:black;
}
.d2{
    padding:8px 20px;
    font-size: 20px;
    
}
.d3{
  padding:0 0px;
    }
.open-button {
  float:right;
  background-color:white;
  color:  #3f3b4e;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-family:sofia;
  font-size:20px;

}


.open-button:hover {
  opacity: 1;
}
.imgcontainer {
  text-align: center;
  margin: 4px 0 12px 0;
  position: relative;
}

